name: Albert Iosevka Custom Build

on:
  push:
    branches:
      - main
  workflow_dispatch: # 允许手动触发该工作流

env:
  FUSION_NAME: IosevkaTermSS05 Nerd Font Mono + LXGW WenKai Mono Lite
  FUSION_ID: IosevkaTermSS05NFM+LXGWWenKaiMonoLite
  FUSION_DEVELOPER: Albert
  FUSION_DESCRIPTION: "The free and open-source font fused with Iosevka and LXGW WenKai"
  FUSION_COPYRIGHT: Copyright 2025 Albert (${{ github.server_url }}/${{ github.repository }})
  FUSION_LICENSE: "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org"
  IOSEVKA_COPYRIGHT: Copyright 2015-2025, Renzhi Li (aka. Belleve Invis, belleve@typeof.net).
  FUSION_VERSION: LXGW v1.521; Iosevka 33.3.6; ttfautohint (v1.8.4); Nerd Fonts 3.4.0
  LXGW_COPYRIGHT: Copyright 2021-2024 LXGW (https://github.com/lxgw/LxgwWenKai-Lite) Copyright 2020 The Klee Project Authors (https://github.com/fontworks-fonts/Klee)
  LXGW_WENKAI_LITE: https://github.com/lxgw/LxgwWenKai-Lite/releases/download/v1.521/LXGWWenKaiMonoLite-Regular.ttf
  PRAGMA_NAME: Pragmasevka Nerd Font Mono + LXGW WenKai Mono Lite
  PRAGMA_ID: PragmasevkaNFM+LXGWMonoLite
  PRAGMA: Pragmasevka
  SS05_NAME: IosevkaTermSS05 Nerd Font Mono + LXGW WenKai Mono Lite
  SS05_ID: IosevkaTermSS05NFM+LXGWWenKaiMonoLite
  SS05: IosevkaTermSS05

jobs:
  build:
    name: Build ${{ matrix.fontName }} font
    if: github.repository == 'georgealbert/Iosevka'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        fontName: ["IosevkaTermSS05"]

    steps:
      # Checkout repository into `iosevka` sub directory
      - uses: actions/checkout@v4
        with:
          path: iosevka

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install ttfautohint
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ttfautohint

      - name: Install deps for Nerd Font Patcher
        run: sudo apt update && sudo apt install -y fontforge python3-fontforge python3-fonttools p7zip jq gftools

      - name: Download Nerd Font Patcher
        run: |
          wget -q https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/FontPatcher.zip
          unzip FontPatcher.zip

      - name: Build Font ${{ matrix.fontName }}
        shell: bash
        working-directory: iosevka
        run: |
          npm install
          npm run build -- ttf::${{ matrix.fontName }}
          npm run build -- ttf::${PRAGMA}

      - name: Patch Iosevka
        run: |
          ./font-patcher --quiet --adjust-line-height --complete --careful -s iosevka/dist/${SS05}/TTF/${SS05}-Regular.ttf
          ./font-patcher --quiet --adjust-line-height --complete --careful -s iosevka/dist/${SS05}/TTF/${SS05}-Italic.ttf
          ./font-patcher --quiet --adjust-line-height --complete --careful -s iosevka/dist/${PRAGMA}/TTF/${PRAGMA}-Regular.ttf
          ./font-patcher --quiet --adjust-line-height --complete --careful -s iosevka/dist/${PRAGMA}/TTF/${PRAGMA}-Italic.ttf

      - name: Download LXGWWenKaiMonoLite
        run: |
          wget -q ${LXGW_WENKAI_LITE}

      - name: Download width.py & fuse_fonts.ff
        run: |
          wget -q https://github.com/georgealbert/MyNerdFonts/raw/refs/heads/main/width.py
          wget -q https://github.com/georgealbert/MyNerdFonts/raw/refs/heads/main/fuse_fonts.ff

      - name: Merge font by FontForge
        run: |
          for STYLE in "Regular"; do
            fontforge "fuse_fonts.ff" \
              "LXGWWenKaiMonoLite-${STYLE}.ttf" \
              "${SS05}NerdFontMono-${STYLE}.ttf" \
              "$SS05_ID-$STYLE" \
              "$SS05_NAME" \
              "$SS05_NAME $STYLE" \
              "$STYLE" \
              "$SS05_ID-${STYLE}.ttf"

            fontforge "fuse_fonts.ff" \
              "LXGWWenKaiMonoLite-${STYLE}.ttf" \
              "${PRAGMA}NerdFontMono-${STYLE}.ttf" \
              "$PRAGMA_ID-$STYLE" \
              "$PRAGMA_NAME" \
              "$PRAGMA_NAME $STYLE" \
              "$STYLE" \
              "$PRAGMA_ID-${STYLE}.ttf"
          done

      - name: Set tag name env
        run: |
          echo "NOW=v$(TZ='Asia/Shanghai' date +'%Y%m%d.%H%M%S')" >> $GITHUB_ENV

      - name: Fix Iosevka and merged font
        run: |
          # Fix Iosevka font agvCharWidth.
          python width.py -f 520 ${SS05}NerdFontMono-Regular.ttf -l -200 -n 30
          python width.py -f 520 ${PRAGMA}NerdFontMono-Regular.ttf -l -200 -n 30

          for STYLE in "Regular"; do
            python width.py -m ${SS05_ID}-${STYLE}.ttf -o 1000 -t 1040 > /dev/null
            python width.py -m ${SS05_ID}-${STYLE}-w1040.ttf -o 500 -t 520 > /dev/null
            mv ${SS05_ID}-${STYLE}-w1040-w520.ttf ${SS05_ID}-${STYLE}.ttf
            python width.py -f 520 ${SS05_ID}-${STYLE}.ttf -l -200 -n 30 -a 1040

            gftools update-nameids "${SS05_ID}-${STYLE}.ttf" \
              --uniqueid "$SS05_ID-$STYLE-$NOW" \
              --designer "$FUSION_DEVELOPER" \
              --manufacturer "$FUSION_DEVELOPER" \
              --trademark "$SS05_NAME" \
              --version "$NOW; $FUSION_VERSION" \
              --copyright "$(echo -e "$IOSEVKA_COPYRIGHT\n$LXGW_COPYRIGHT\n$FUSION_COPYRIGHT")" \
              --license "$FUSION_LICENSE" \
              --urlvendor "https://github.com/georgealbert/Iosevka" \
              --urldesigner "https://www.albertzhou.net" \
              --urllicense "https://openfontlicense.org"
            mv "${SS05_ID}-${STYLE}.ttf.fix" "${SS05_ID}-${STYLE}.ttf"
          done

          for STYLE in "Regular"; do
            python width.py -m ${PRAGMA_ID}-${STYLE}.ttf -o 1000 -t 1040 > /dev/null
            python width.py -m ${PRAGMA_ID}-${STYLE}-w1040.ttf -o 500 -t 520 > /dev/null
            mv ${PRAGMA_ID}-${STYLE}-w1040-w520.ttf ${PRAGMA_ID}-${STYLE}.ttf
            python width.py -f 520 ${PRAGMA_ID}-${STYLE}.ttf -l -200 -n 30 -a 1040

            gftools update-nameids "${PRAGMA_ID}-${STYLE}.ttf" \
              --uniqueid "$PRAGMA_ID-$STYLE-$NOW" \
              --designer "$FUSION_DEVELOPER" \
              --manufacturer "$FUSION_DEVELOPER" \
              --trademark "$PRAGMA_NAME" \
              --version "$NOW; $FUSION_VERSION" \
              --copyright "$(echo -e "$IOSEVKA_COPYRIGHT\n$LXGW_COPYRIGHT\n$FUSION_COPYRIGHT")" \
              --license "$FUSION_LICENSE" \
              --urlvendor "https://github.com/georgealbert/Iosevka" \
              --urldesigner "https://www.albertzhou.net" \
              --urllicense "https://openfontlicense.org"
            mv "${PRAGMA_ID}-${STYLE}.ttf.fix" "${PRAGMA_ID}-${STYLE}.ttf"
          done


      - name: Generate artifact info
        run: |
          echo 'release_body<<EOF' >> $GITHUB_ENV
          cd iosevka && git log -1 --oneline >> $GITHUB_ENV
          cd ..

          # Print font info.
          for STYLE in "Regular"; do
            echo "" >> $GITHUB_ENV
            echo "# Font Info:" >> $GITHUB_ENV
            echo "* ${SS05}NerdFontMono-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python width.py -c ${SS05}NerdFontMono-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV

            echo "" >> $GITHUB_ENV
            echo "* ${SS05_ID}-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python width.py -c ${SS05_ID}-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
          done

          for STYLE in "Regular"; do
            echo "" >> $GITHUB_ENV
            echo "# Font Info:" >> $GITHUB_ENV
            echo "* ${PRAGMA}NerdFontMono-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python width.py -c ${PRAGMA}NerdFontMono-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV

            echo "" >> $GITHUB_ENV
            echo "* ${PRAGMA_ID}-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python width.py -c ${PRAGMA_ID}-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
          done


          echo 'EOF' >> $GITHUB_ENV

          echo ${{ env.release_body }}
          
      - name: Publish Release
        id: publish_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NOW }}
          draft: false
          prerelease: false
          body: >
            针对原版`Iosevka`字体过于瘦高进行了下面的优化：

            1. `Iosevka`字体参考`FiraCode`风格，调整了i、r、l、t和1、4、0等数字的样式。

            2. 加宽了`Iosevka`字体，宽度从默认的`500`增加到`520`，中文相应的从`1000`增加到`1040`，保持等宽。

            3. `Iosevka`字体编译时使能`TXTR`特性，即Monaspace字体的`text healing`。

            4. 中文字体是[霞鹜文楷Lite等宽](${{ env.LXGW_WENKAI_LITE }})。

            5. FiraCode风格中英文合并字体是[${{ env.SS05_ID }}-Regular.ttf](${{ github.server_url }}/${{ github.repository }}/releases/download/${{ env.NOW }}/${{ env.SS05_ID }}-Regular.ttf)。

            6. Pragma风格的中英文合并字体是[${{ env.PRAGMA_ID }}-Regular.ttf](${{ github.server_url }}/${{ github.repository }}/releases/download/${{ env.NOW }}/${{ env.PRAGMA_ID }}-Regular.ttf)。

            ![IosevkaTermSS05NFM+LXGWWenKaiMonoLite-Regular-demo](https://github.com/georgealbert/MyNerdFonts/blob/main/screenshots/IosevkaTermSS05NFM%2BLXGWWenKaiMonoLite-Regular-demo.png)
            Iosevka原版和改版对比：
            ![Iosevka_diff](https://github.com/georgealbert/MyNerdFonts/blob/main/screenshots/character.png)

            ${{ env.release_body }}


            Built with
            [Github Workflow #${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

          files: |
            iosevka/dist/${{ env.SS05 }}/TTF/${{ env.SS05 }}-Regular.ttf
            iosevka/dist/${{ env.SS05 }}/TTF/${{ env.SS05 }}-Italic.ttf
            iosevka/dist/${{ env.PRAGMA }}/TTF/${{ env.PRAGMA }}-Regular.ttf
            iosevka/dist/${{ env.PRAGMA }}/TTF/${{ env.PRAGMA }}-Italic.ttf
            ${{ env.SS05 }}NerdFontMono-Regular.ttf
            ${{ env.SS05 }}NerdFontMono-Italic.ttf
            ${{ env.PRAGMA }}NerdFontMono-Regular.ttf
            ${{ env.PRAGMA }}NerdFontMono-Italic.ttf
            ${{ env.SS05_ID }}-Regular.ttf
            ${{ env.PRAGMA_ID }}-Regular.ttf
